{% extends "header.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for("static", filename ='css/login.css')}}">
{% endblock %}
{% block content %}

    <div class="video-container">
        <video autoplay muted loop id="video-bg">
            <source src="{{ url_for('static', filename="videos/login.mp4")}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="text-overlay">
         <form method="POST">
            <h1 style="color: white;">LOGIN</h1>
            {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <li class=""></li>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

            <br>
            <input type="email" name="email" id="email" placeholder="Enter your Email Address">
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <button type="submit">LOGIN</button>
            <br>
            <br>
            <a href="/auth/signup">Sign-Up</a>
         </form>
        </div>
    </div>
   
   
{% endblock %}